html {
    background: linear-gradient(to right, #DE6D6D, #BA2F2F, #961515);
}

.login {
    padding: 50px;
    background-color: #FFF8DC;
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    align-content: center;
    text-align: center;
    border-radius: 30px;
    position: relative;
    left: 500px;
    top: 200px;
}

button {
    width: 100px;
    height: 50px;
    position: relative;
    left: 20px;
    bottom: 30px;
}

button:hover {
    color: #00BFFF;
    background-color: black;
    border: none;
}

#logo {
    float: left;
    position: relative;
    left: 50px;
    top: 10px;
}

.textarea {
    background: linear-gradient(to right, #DE6D6D, #BA2F2F, #961515);
    width: 200px;
    height: 120px;
    padding: 20px;
    border-radius: 30px;
    align-content: center;
    position: relative;
    left: 150px;
}

label {
    color: white;
}